html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.App,
.commentPage,
.profilePage,
.postFormPage {
  /* background-color: rgba(0, 0, 0, 0.69); */
  min-height: 100%;
  padding-top: 5px;
  color: rgb(235, 235, 235);
}

.topBar {
  height: 10vh;
  display: flex;
  background-color: #2fa42f;
  border-bottom: ridge 2px;
  top: 0px;
}

.topBar ul {
  display: flex;
}

input {
  height: 2em;
  border: solid grey 1px;
  border-radius: 3px;
  margin: 2px;
}

.topBar li {
  margin-right: 20px;
  display: block;
  border-radius: 5px;
  border: solid 1px #2d31287d;
  height: fit-content;
  background-color: rgba(0, 100, 16, 0.27);
  padding: 1vh;
}

.topBar li button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:link,
:visited {
  text-decoration: none;
  color: white;
}

.feedSelectorBar {
  margin-left: 3%;
}

.popUp {
  background-color: #dceabd;
  border-radius: 5px;
  border: ridge blue 1px;
  box-shadow: 6px 6px 0px 4px rgba(0, 0, 255, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  min-width: 20vw;
  z-index: 999;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -11.5vw;
  margin-top: -15vh;
}

.xButton {
  display: flex;
  flex-direction: row-reverse;
}

.loginPopUp input {
  min-width: 100px;
}

#popUpButtonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;
  justify-content: space-around;
}

#popUpButtonRow button {
  width: 30%;
  padding: auto;
}
.postBody {
  background-color: #08510882;
  padding: 4px;
  border-radius: 2px;
}
.topBanner {
  margin-bottom: 5px;
  font-size: smaller;
}

.bottomBanner {
  margin-top: 5px;
  font-size: smaller;
}

.topBanner b,
.username,
.postComments,
.commentFooter [role='button'] {
  cursor: pointer;
}

.topBanner b {
  margin-right: 10px;
}

.username,
.postComments {
  width: fit-content;
}

img {
  max-height: 30%;
  max-width: 30%;
}

/* .postFormPage {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.247);
  padding-top: 5vh;
} */

.postForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postForm * {
  margin: auto;
}

.postForm textarea {
  min-height: 20vh;
  min-width: 20vw;
}

.postForm button {
  width: fit-content;
}

#newGroupButton {
  font-size: small;
}

#newPostSubmit {
  min-width: 10vw;
}

.commentForm {
  margin: 5px auto 5px auto;
  padding: 5px;
  height: 15vh;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  background-color: rgba(37, 189, 61, 0.45);
}

.commentForm textarea,
.comment textarea {
  height: 10vh;
  min-width: 30vw;
  resize: none;
}

.commentForm button {
  height: fit-content;
  width: fit-content;
  margin: auto 5px;
}

.commentPageContainer,
.profilePageContainer,
.feed,
.feedSelectorBar,
.postForm {
  background-color: #2fa42f;
  border-radius: 5px;
  /* box-shadow: 6px 6px 0px 4px rgba(0, 0, 255, 0.2); */
  max-width: 50vw;
  margin: auto;
  padding: 15px;
}

.commentsList {
  width: 50vw;
  margin: auto;
}

.comment,
.commentPostContent,
.profileMain,
.profileBar,
.post {
  background-color: rgba(0, 100, 16, 0.27);
  border-radius: 5px;
  border: solid 1px #2d31287d;
  margin: 2px;
  padding: 15px;
}

.comment {
  padding: 0px 0px 0px 15px;
}

.commentFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.commentFooter div {
  margin-right: 8px;
}

.comment textarea {
  margin-left: 1vw;
}

.profileMain {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profileMain *,
.profileBar * {
  margin: auto;
}
.profileMain img {
  border-radius: 50%;
  margin: auto;
}

.profileBar {
  display: flex;
}

#profilePostsAndComments {
  flex-direction: column;
}
