body {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.App {
  background-color: black;
  border: solid black 1px;
}

.topBar {
  height: 10vh;
  background-color: grey;
  border: solid 1px black;
}

ul {
  display: flex;
}

li {
  margin-right: 20px;
  display: block;
}
.feed {
  width: 60%;
  overflow: auto;
  margin: auto;
  padding: 5px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.post {
  margin: 3px;
  padding: 3px;
  background-color: red;
}

.topBanner {
  margin-bottom: 5px;
}
.bottomBanner {
  margin-top: 5px;
}
.topBanner b,
.username,
.postComments {
  cursor: pointer;
}
.topBanner b {
  margin-right: 10px;
}

.username,
.postComments {
  width: fit-content;
}

img {
  max-height: 30%;
  max-width: 30%;
}
